<div class="views-field-{{ css_identifier }}">
  {% if label %}
    <label class="view-label-{{ css_identifier }}"> 
      {{ label }}:
    </label>
   {% endif %}
   <div class="views-content-{{ css_identifier }}"> 
    {{ output }}
  </div>
</div>